<ion-header translucent>
  <ion-toolbar color="danger">
   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title>Manage Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-card>
         <img src="../../../assets/images/slide1.jpg">
        <ion-card-content>
          <h3>Order from top & favourite restaurants</h3>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
         <img src="../../../assets/images/slide2.jpg">
        <ion-card-content>
          <h3>Wide collections of cusines</h3>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
         <img src="../../../assets/images/slide3.jpg">
        <ion-card-content>
          <h3>Quick delivers at your doorstep</h3>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
    <p>Ready to set top restaurants to order?</p>
  <ion-button expand="full" color="danger">Setup your location</ion-button>
</ion-content>

