ion-content{
    ion-toolbar{
        ion-input{
            padding:0px 15px 0px 15px;
            margin-top: 5px;
        }
    }
}
ion-header{
    ion-toolbar{
       ion-title{
            position: inherit;
           font-size: 25px;
           font-weight: bold;
       }
    }
}
ion-input{
    border:groove;
}