.orders-empty{
    text-align: center;
    img{
        width: 250px;
    }
    padding: 160px 20px;
    display: inline-block;
    h2{
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    ion-button{
        padding: 0px 15px 0px 15px;
        // color:white;
        // border-style: groove;
        // border-color: orange;
    }
}
ion-header{
    ion-toolbar{
       ion-title{
            position: inherit;
           font-size: 25px;
           font-weight: bold;
       }
    }
}
.orders{
    img{
      width: 75px;
    }
    padding: 0px 15px 0px 15px;
}